table {
    border: 1px solid #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: 50px;
}

tbody {
    background-color: #f3f3f3;
    border-bottom: 2px solid #009879;
}

th,
td {
    text-align: center;
    padding: 12px 15px;
    font-size: 50px;
}

thead tr {
    background-color: #ff6010;
    color: #ffffff;
    text-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

#spinButton,
#spinAgainButton,
#btncargadatos {
    background-color: #002060;
}